/*
!.gitignore
!.tmux.conf

!.config
.config/*
!.config/nvim
!.config/hypr
!.config/waybar
!.config/fish
!.config/kitty
!.config/yazi
!.agents
!.config/opencode
!.cursor
.cursor/*
!.cursor/skills
!.cursor/rules
!.claude
.claude/*
!.claude/skills
!.claude/agents
!.claude/settings.json
!.ollama
.ollama/*
!.ollama/config.json
